<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.finaluri">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Ftest">
        <activity
            android:name="com.example.finaluri.fragments.easteregg.WaifuActivity"
            android:exported="true" />
        <activity
            android:name="com.example.finaluri.ChangePassActivity"
            android:exported="true" />
        <activity
            android:name="com.example.finaluri.RegisterActivity"
            android:exported="true" />
        <activity
            android:name="com.example.finaluri.ForgotpassActivity"
            android:exported="true" />
        <activity
            android:name="com.example.finaluri.MainActivity"
            android:exported="true" />
        <activity
            android:name="com.example.finaluri.LoginActivity"
            android:exported="true">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>